extends ../layouts/default
include ../mixins/logo

block css
	link(href='/styles/site/footer.min.css', rel="stylesheet")
	link(href="/styles/site/header.min.css", rel="stylesheet")
	link(href="/styles/site/contact.min.css", rel="stylesheet")
block head
	script(src="https://maps.google.com/maps/api/js?sensor=false")
	script.
		window._fbq.push(['track', '6021411515317', {'value':'0.00','currency':'CAD'}]);
		var required = !{JSON.stringify(t('contact:required'))},
			maxlength = !{JSON.stringify(t('contact:maxlength'))},
			textareamaxlength = !{JSON.stringify(t('contact:textareamaxlength'))},
			validemail = !{JSON.stringify(t('contact:validemail'))}
block noscript
	img(height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6021411515317&amp;cd[value]=0.00&amp;cd[currency]=CAD&amp;noscript=1")
block content
	header#form-wrapper
		canvas(id="fg-canvas-1" class="overlay" width="100" height="100")
		canvas(id="fg-canvas-2" class="overlay" width="100" height="100")
		.overlay.overlay-black
		+logo
		.hero-text-wrapper.clearfix
			.container
				if enquirySubmitted 
					h3.sent.front=t('contact:sent')
				.row.clearfix
					.col-md-12
						h1!=t('contact:catchphrase')
						p=t('contact:subtitle')
				+flash-messages(messages).front
				form(name="formContact" id="formContact" method="post" role="form").clearfix.row
					input(type='hidden', name='action', value='contact')
					.form-group.col-sm-offset-1.col-sm-10.col-md-4.col-md-offset-2
						input#fullname(type="text",name="name.full",value=formData['name.full'],placeholder=t('form:fullname'),class=validationErrors.name ? 'has-error': ' ').form-control.constrained
					.form-group.col-sm-offset-1.col-sm-10.col-md-4.col-md-offset-0
						input#company(type="text",name="company",value=formData.company, placeholder=t('form:company'),class=validationErrors.company ? 'has-error': ' ').form-control.constrained
					.form-group.col-sm-offset-1.col-sm-10.col-md-4.col-md-offset-2
						input#email(type="email",name="email", value=formData.email, placeholder=t('form:email'),class=validationErrors.email ? 'has-error': ' ').form-control.constrained
					.form-group.col-sm-offset-1.col-sm-10.col-md-4.col-md-offset-0
						input#phone(type="text",name="phone", value=formData.phone, placeholder=t('form:phone'),class=validationErrors.phone ? 'has-error': ' ').form-control.constrained
					.form-group.col-sm-offset-1.col-sm-10.col-md-8.col-md-offset-2
						textarea#msg(name="message",placeholder=t('form:msg'),rows="4",cols="40",class=validationErrors.message ? 'has-error': ' ').form-control.msg-constrained=formData.message
					.form-actions.col-sm-offset-1.col-sm-10.col-md-4.col-md-offset-4
						button.form-submit-btn(type="submit")
							span=t('form:submit')
	section#address-wrapper.container-fluid
		.row
			.col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3.col-md-5.col-md-offset-1.col-lg-3.col-lg-offset-2
				h2.address-caption=t('contact:address-caption')
				p=t('contact:address-p')
			.col-xs-10.col-xs-offset-1.col-sm-6.col-sm-offset-3.col-md-5.col-md-offset-1.col-lg-3.col-lg-offset-3
				p.address-caption
					| Infocinc
				ul
					li
						| 1560 Place de Tournai
					li
						| Terrebonne, Qc
					li=t('footer:office')+': '
						a(href="tel:+4384966886")
							| 438 496-6886
					li=t('footer:email')+': '
						a(href="mailto:info@infocinc.com")
							| info@infocinc.com
				#social-icons-wrapper
					-var img = ['facebooklogo','googlepluslogo','linkedin']
					-var href = ['//facebook.com/Infocinc', '//plus.google.com/+Infocinc1','//linkedin.com/company/infocinc']
					-var i = 0
					while i < 3
						a(target="_blank",href=href[i])
							img(src="/images/" + img[i] + '.png' alt=img[i])
						-i++
	#gmap-wrapper.container-fluid
		#gmap.col-md-10.col-md-offset-1
			#map_canvas
	include ../layouts/footer
