extends ../layouts/default
include ../mixins/service-link


block css
	link(href="/styles/site/home.min.css", rel="stylesheet")
	link(href="/styles/site/header.min.css", rel="stylesheet")
block content
	-var prefix = '/' + lang + '/'
	section#hero
		canvas(id="scaler" class="overlay" width="100" height="100")
		.overlay.overlay-tvnoise
		.overlay.overlay-black
		.logo
			img(src="/images/infocinc-logo-white.png" alt="Infocinc Logo")
		.hero-text-wrapper.hero-relative.hero-padding
			h1!= t('home:catchphrase')
			a.white-box.front(href=prefix + 'services')
				span= t('home:button')
		.arrow-down
			img(src="/images/home/arrow-down.png" alt="Arrow down")
		.quick-links.show-tablet.front
			ul
				li
					a(href=prefix +'contact')
						span= t('home:arrow-top-1')
				li
					a(href=prefix + 'contact')
						span= t('home:arrow-top-2')
	#service-links.container-fluid
		each service in services
			+service-link(service,'services')
