extends ../layouts/default

block css
	link(href="/styles/site/home.min.css", rel="stylesheet")
block content
	#top-background
		.overlay.overlay-tvnoise
		.overlay.overlay-black
		.overlay.overlay-open-menu
		.logo
			img(src="images/infocinc-logo-white.png")
		.hero-text-wrapper
			h1(itemprop="name")!= t('home:catchphrase')
			a.white-box.front(href="/contact.html?setLng="+lang)
				span= t('home:button')
		.arrow-down
			img(src="images/arrow-down.png")
		.quick-links.mobile-hide.front
			ul
				li
					a(href="/contact.html?setLng="+lang)
						img(src="/images/arrow-right.png")
						span= t('home:arrow-top-1')
				li
					a(href="/contact.html?setLng="+lang)
						img(src="/images/arrow-right.png")
						span= t('home:arrow-top-2')
	#service-icons.container-fluid
		a.col-xs-6.col-md-2(href="/services.html?setLng="+lang)
			.icon-logo
				img(src="images/design.png")
			.icon-text= t('home:icon-1')
		a.col-xs-6.col-md-2(href="/services.html?setLng="+lang)
			.icon-logo
				img(src="images/webapp.png")
			.icon-text= t('home:icon-2')
		a.col-xs-6.col-md-2(href="/services.html?setLng="+lang)
			.icon-logo
				img(src="images/share2.png")
			.icon-text= t('home:icon-3')
		a.col-xs-6.col-md-2(href="/services.html?setLng="+lang)
			.icon-logo
				img(src="images/datacollect.png")
			.icon-text= t('home:icon-4')
		a.col-xs-6.col-md-2(href="/services.html?setLng="+lang)
			.icon-logo
				img(src="images/conseil.png")
			.icon-text=t('home:icon-5')
		a.col-xs-6.col-md-2(href="/services.html?setLng="+lang)
			.icon-logo
				img(src="images/training.png")
			.icon-text
				span=t('home:icon-6')
block js
	script.
		var switchimg = function(e, delim, suffix) {
			var img = $(this).find('img');
			var tkn = $(img).attr('src').split(delim)[0];
			$(img).attr('src', tkn + suffix);
		}
		$("#service-icons > a").hover(function(e) {
			e.preventDefault();
			console.log(e.target.id);
			$.proxy(switchimg, this)(e, '.', '-hover.png');
		}, function(e) {
			e.preventDefault();
			$.proxy(switchimg, this)(e, '-', '.png');
		});		