extends ../layouts/default
include ../mixins/header
include ../mixins/logo
include ../mixins/service-link


mixin header(section)
	header
		canvas(id="bg-canvas-1" class="parallax" width="100" height="100")
		canvas(id="bg-canvas-2" class="parallax" width="100" height="100")
		canvas(id="bg-canvas-3" class="parallax" width="100" height="100")
		canvas(id="bg-canvas-4" class="parallax" width="100" height="100")
		canvas(id="fg-canvas-1" class="overlay ticker" width="100" height="100")
		.overlay.overlay-black
		.overlay.overlay-open-menu
		if block
			block

mixin service-descr(name,i) 
	h2!=t('services:' + name+".title") 
	p.brief!=t('services:' + name + '.brief')
	button(type="button",data-toggle="collapse" data-target='#hidden-row-' + i).btn-wide
		span.hide=t('services:close')
		span=t('services:learnmore')

block css
	link(href="/styles/site/header.min.css", rel="stylesheet")
	link(href='/styles/site/footer.min.css', rel="stylesheet")
	link(href="/styles/site/projects.min.css", rel="stylesheet")
block head
	link(href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css')
block content
	+logo
	+header('portfolio')
	section.intro.clearfix
		h2!=t('portfolio:intro')
	section.portfolio.clearfix
		each client in clients 
			.col-lg-4.client
				a.client-link(href=client.image_url, target="_blank")
					img.client-bg(src=client.image.secure_url, alt=client.name)
					.client-descriptor-wrapper
						.client-descriptor
							p.client-label=client.name
							each tag_image in client.tag_images 
								img(src=tag_image.secure_url, alt='service icon')
							p.client-tags= t('portfolio:' + client.key + '-tags')
							p.client-more= t('portfolio:more')

	include ../layouts/footer.jade

block js
	script.
		var textmsg = [
			!{JSON.stringify(t('portfolio:msg-1'))}, 
			!{JSON.stringify(t('portfolio:msg-2'))}, 
			!{JSON.stringify(t('portfolio:msg-3'))}, 
			!{JSON.stringify(t('portfolio:msg-4'))}
		];
	script(src="/js/parallax.min.js")
	script(src="/js/projects.min.js")

