extends ../layouts/default
include ../mixins/logo
include ../mixins/service-link

mixin header(section)
	header
		canvas(id="bg-canvas-1" class="overlay" width="100" height="100")
		canvas(id="fg-canvas-1" class="overlay" width="100" height="100")
		.overlay.overlay-black
		.hero-text-wrapper
			h1!=t(section + ':catchphrase')
		if block
			block

mixin service-descr(service,i) 
	-var name = service.name
	-var target = service.target
	h2!=t('services:' + name+".title") 
	p.brief!=t('services:' + name + '.brief')
	if (target && target.indexOf('http') === 0)
		a(href=target).btn-wide 
			span=t('services:'+name+'-calltoaction')
	else 
		a(href='/'+lang+'/'+target).btn-wide
			span=t('services:'+name+'-calltoaction')
	button(type="button",data-toggle="collapse" data-target='#hidden-row-' + i).btn-wide
		span.hide=t('services:close')
		span=t('services:learnmore')

block css
	link(href="/styles/site/header.min.css", rel="stylesheet")
	link(href='/styles/site/footer.min.css', rel="stylesheet")
	link(href="/styles/site/services.min.css", rel="stylesheet")
block head
	link(href='//fonts.googleapis.com/css?family=Bubblegum+Sans' rel='stylesheet' type='text/css')
block content
	+logo
	+header('services')
	section.intro.clearfix
		h2=t('services:intro')
		each service in services
			+service-link(service)
	#services-wrapper 
		each service,i in services
			-var prefix = 'services:' + service.name
			section(id=service.name).services.clearfix.container-fluid
				.service-wrapper.clearfix
					div(class= i % 2 === 0 ? '' : 'shift-service-img col-md-push-6 col-lg-push-8').col-sm-6.col-sm-offset-3.col-md-offset-0.col-md-6.col-lg-4.visual
						img.main(src=service.icon.secure_url alt=service.name)
					div(class=i % 2 === 0 ? '' : 'col-md-pull-6').col-sm-12.col-md-6.col-lg-6.col-lg-offset-2.text
						+service-descr(service,i)
				.clearfix.hidden-row.collapse(id='hidden-row-' + i)
					.extra-caption
						p!=t(prefix+'.question')
					.bubbles.clearfix
						each bubble,j in service.bubbles
							.col-xs-6.col-sm-6.col-md-3.infobubble-wrapper
								.infobubble
									-var bubble_text = t(prefix+'.bubbles.' + j)
									img(src=bubble.secure_url alt=bubble_text)
									h3!=bubble_text
					.extra-caption
						p!=t(prefix+'.features.p')
					.features.clearfix
						each j in [0,1,2]
							-var k = j*3
							.col-md-4
								ul
									li=t(prefix + '.features.items.' + (k+1))
									li=t(prefix + '.features.items.' + (k+2))
									li=t(prefix + '.features.items.' + (k+3))
	include ../layouts/footer.jade
