<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">
	{{! Highlight.js stylesheet}}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/monokai_sublime.min.css">

    {{! Styles'n'Scripts }}
	<script type="text/javascript" src="/js/vendor/modernizr-2.6.2.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/blog.css" /> 
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <script>
            (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-52538854-1', 'auto');
            ga('require', 'linkid', 'linkid.js');
            ga('require', 'displayfeatures');
            ga('send', 'pageview');
    </script>
	<nav id="menu" class="bar-items invisible">
	  <button type="button" id="remove-btn"><span class="glyphicon glyphicon-remove"></span></button>
	  <ul class="principal">
	    <li><a href="/en/home" class="nav-item">HOME</a></li>
	    <li><a href="/blog" class="nav-item">BLOG</a></li>
	    <li><a href="/en/services" class="nav-item">SERVICES</a></li>
	    <li><a href="/en/projects" class="nav-item">PORTFOLIO</a></li>
	    <li><a href="/en/contact" class="nav-item">CONTACT</a></li>
	  </ul>
	  <ul class="menu-footer">
	    <li id="social-icons" class="clearfix"><a target="_blank" href="//twitter.com/InfoCinc"> <img src="/images/twitterlogo.png" alt="twitter logo"/></a><a target="_blank" href="//facebook.com/Infocinc"><img src="/images/facebooklogo.png" alt="facebook logo"/></a><a target="_blank" href="//plus.google.com/+Infocinc1"> <img src="/images/googlepluslogo.png" alt="googleplus logo"/></a><a target="_blank" href="//www.linkedin.com/company/infocinc"> <img src="/images/linkedin.png" alt="linkedin logo"/></a></li>
	    <li class="nav-item"><a href="/en/terms">Terms and Conditions</a></li>
	    <li class="nav-item"><span>&copy;2014</span><img id="menu-logo" src="/images/infocinc-logo-white.png" alt="Infocinc Logo"/></li>
	  </ul>
	</nav>
    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer clearfix push">
         <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; Infocinc {{date format="YYYY"}}</section>
         <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>

    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script type="text/javascript" src="/js/dist/blog.min.js"></script>

	{{! Highlight.js}}
	<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js"></script>
	<script> hljs.initHighlightingOnLoad();</script>

</body>
</html>
